node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example

# Ignorar carpetas de imágenes y pdfs cargadas externamente en GitHub
public/frascos/
public/recetas/
public/pdfs/
public_repo_backup/
temp_repo/
